asgiref==3.2.10
certifi==2020.11.8
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1
django-ckeditor==5.9.0
django-crispy-forms==1.9.2
django-debug-toolbar==2.2
django-easy-pdf==0.1.1
django-filter==2.3.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-mptt==0.11.0
django-registration-redux==2.8
django-widget-tweaks==1.4.8
djangorestframework==3.11.1
djangorestframework-datatables==0.5.2
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
idna==2.10
Paperboy==1.0.1
Pillow==7.2.0
psycopg2==2.8.5
PyJWT==1.7.1
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
reportlab==3.5.49
requests==2.25.0
six==1.15.0
sqlparse==0.3.1
twilio==6.48.0
urllib3==1.26.2
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.4
